.container{
  color: green;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
img{
  width: 60px;
  height: 60px;
}
.para {
  color: green;
  font-weight: 500;
  text-align: center;
}
.divCon{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid gray;
  padding: 10px;
}