/* [tanvir='ahmed']{
  color: red;
} */
/* #heading{
  color: blue;
}
.tanvirss{
  color: green;
}
.hell{
  background-color: aqua;
} */

.changeCSS {
  font-size: 40px;
  background-color: pink;
  color: red;
  margin-bottom: 2px;
  padding: 4px;
  text-decoration: underline
}