.container{
  color: green;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.card{
  width: 70px;
  height: 70px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 36px;
}
.plusIcon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 900;
  color: black;
  font-size: 40px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom : 30px;
  right: 30px;
  box-shadow: 0 0px 10px 1px red;
}
h1{
  background-color:brown;
}